<main class="row">
  <div class="body body__frinds">
    <div class="heading">
<!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
      <!--<h1 class="heading__title--en"></h1>-->
      <h3 class="heading__title--main">Notification ++</h3>
      <h3>通知一覧ページ</h3>
      
    </div>
    <div class="heading__border">
      <span class="border-title">通知を確認しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--friends">
        <div class="content__fields">
          <h2 class="content__fields--heading">My notifications</h2>
          <div class="content__fields--flex">
            <div class="content__fields--friends">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>写真</th>
                    <th></th>
                    <th></th>
                    <th>名前</th>
                    <th>年齢</th>
                    <th>性別</th>
                    <th>よくやるゲーム</th>
                    <th>SNS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>写真</td>
                    <td>DM</td>
                    <td>フォロー</td>
                    <td>Sui</td>
                    <td>20</td>
                    <td>男性</td>
                    <td>スプラトゥーン、</td>
                    <td>Twitter、Instagram、You Tube</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar__logo">
      
    </div>
    <nav>
      <ul class="nav nav-pills nav-fill flex-column sidebar__nav">
        <li class="nav-item">
           <%= link_to "Home", events_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          Message
        </li>
        <li class="nav-item">
          <%= link_to "Event Create", new_event_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Friend", users_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Page", user_path(current_user), class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Notification(通知)", notifications_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item" %>
        </li>
      </ul>
    </nav>
  </div>
</main>