<main class="row">
  <div class="body body__mypage--edit">
    <div class="heading">
<!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
      <h1 class="heading__title--en">プロフィール編集ページ</h1>
      <h3 class="heading__title--main">Profile ++</h3>
      
    </div>
    <div class="heading__border">
      <span class="border-title">プロフィールを編集しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--edit-mypage">
        <div class="content__fields">
          <h2 class="content__fields--heading">My Profile</h2>
          <div class="content__fields--flex">
            <div class="content__fields--flex-item-mypage1">
              <%= form_with model: @user, url: user_path(current_user), local: :true do |f| %>
                 <div class="content__field--form-mypage">
                    <%= f.label "名前", class: "content__field--label-mypage" %><br/>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                  </div>
                  
                  <div class="content__field--form-mypage">
                    <%= f.label "性別", class: "content__field--label-mypage" %><br/>
                    <%= f.radio_button :sex, false, checked: true %>男性 
                    <%= f.radio_button :sex, true %>女性
                  </div>
                
                  <div class="content__field--form-mypage">
                    <%= f.label "年齢", class: "content__field--label-mypage" %>
                    <%= f.number_field :age, class: "age", min: 15, max: 100, class: "form-control" %>
                  </div>
                
                  <div class="content__field--form-mypage">
                    <%= f.label "よくやるゲーム", class: "content__field--label-mypage" %>
                    <%= f.text_area :favorite_game, class: "form-control" %>
                  </div>
                  <div class="content__field--form-mypage">
                    <%= f.label "自己紹介", class: "content__field--label-mypage" %>
                    <%= f.text_area :introduction, class: "form-control" %>
                  </div>
                  <div class="content__field--form-mypage">
                    <%= f.label "My SNS", class: "content__field--label-mypage" %>
                    <div>
                      <%= f.label "ツイッターURL", class: "content__field--label-mypage" %>
                      <%= f.text_field :twitter, class: "form-control" %>
                      <%= f.label "インスタグラムURL", class: "content__field--label-mypage" %>
                      <%= f.text_field :instagram, class: "form-control" %>
                      <%= f.label "ユーチューブURL", class: "content__field--label-mypage" %>
                      <%= f.text_field :youtube, class: "form-control" %>
                    </div>
                  </div>
                  <div class="content__field--button">
                    <%= f.submit "更新する", class: "mypage-button btn btn-success"%>
                  </div>
                </div>
                <div class="content__fields--flex-item-mypage2">
                  <div class="content__image--user">
                    <%= attachment_image_tag @user, :image, format: 'jpeg' , size: "250x250"%>
                  </div>
                  <div class="content__image--form">
                    <%= f.attachment_field :image %>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar__logo">
      
    </div>
    <nav>
      <ul class="nav nav-pills nav-fill flex-column sidebar__nav">
        <li class="nav-item">
           <%= link_to "Home", events_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          Message
        </li>
        <li class="nav-item">
          <%= link_to "Event Create", new_event_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Friend", users_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Page", user_path(current_user), class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Notification(通知)", notifications_path, class: "nav-item" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item" %>
        </li>
      </ul>
    </nav>
  </div>
</main>