<main class="row">
  <div class="body body__mypage--edit">
    <div class="heading">
<!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
      <h3 class="heading__title--main">Events Edit++</h3>
      <h3 class="heading__title--ja">イベント編集ページ</h3>
      
    </div>
    <div class="heading__border">
      <span class="border-title">ゲームイベントを編集しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--edit-mypage">
        <div class="content__fields">
          <h2 class="content__fields--heading">My Event</h2>
          <%= form_with model: @event, url: event_path(@event), local: true do |f| %>
            <%= render 'layouts/error', error: @event %>
            <div class="content__fields--flex">
              <div class="content__fields--flex-item-mypage1-user">
                <div class="content__image--user">
                  <%= attachment_image_tag current_user, :image, format: 'jpeg' , size: "250x250", class: "user-responsive" %>
                </div>
              　<div class="content__field--form-mypage">
                  <%= f.label "--- イベントメモ ---", class: "content__field--label-mypage" %>
                  <%= f.text_area :game_location, class: "form-control content__field--form-game_location" %>
                </div>
              </div>
            
            
              <div class="content__fields--flex-item-mypage2-user">
                 <table class="table ">
                 <h3>My Event</h3>
                 <p>イベントを作ろう</p>
                  <tr>
                    <th class="content__profile"><span class="responsive-form-title">イベント名</span>
                      <p class="responsive-form">
                        <%= f.text_field :event_name, autofocus: true, autocomplete: "name", class: "form-control" %>
                      </p>
                    </th>
                    <td class="no-responsive-form"><%= f.text_field :event_name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
                  </tr>
                  <tr>
                    <th class="content__profile"><span class="responsive-form-title">開催予定</span>
                      <p class="responsive-form">
                        <%= f.radio_button :is_online, false, checked: true %>オフライン
                        <%= f.radio_button :is_online, true %>オンライン
                      </p>
                    </th>
                    <td class="no-responsive-form">
                      <%= f.radio_button :is_online, false, checked: true %>オフライン
                      <%= f.radio_button :is_online, true %>オンライン
                    </td>
                  </tr>
                  <tr>
                    <th class="content__profile"><span class="responsive-form-title">イベント日</span>
                      <p class="responsive-form">
                        <span class="event__area--supplement">＊&emsp;開催日</span></br>
                        <%= f.date_field :event_date, autocomplete: "event_date", class: "form-control" %>
                      </p>
                    </th>
                    <td class="no-responsive-form">
                      <span class="event__area--supplement">＊&emsp;開催日</span></br>
                      <%= f.date_field :event_date, autocomplete: "event_date", class: "form-control" %>
                    </td>
                  </tr>
                  <tr>
                    <th class="content__profile"><span class="responsive-form-title">開始時間</span>
                      <p class="responsive-form">
                        <%= f.time_field :starting_time, autocomplete: "start_time", class: "form-control event-new" %>
                      </p>
                    </th>
                    <td class="no-responsive-form">
                      <span class="event__area--supplement">＊&emsp;開始時間</span></br>
                      <%= f.time_field :starting_time, autocomplete: "start_time", class: "form-control event-new" %>
                    </td>
                  </tr>
                  <tr>
                    <th class="content__profile"><span class="responsive-form-title">終了時間</span>
                      <p class="responsive-form">
                        <%= f.time_field :ending_time, autocomplete: "finish_time", class: "form-control event-new" %>
                      </p>
                    </th>
                    <td class="no-responsive-form">
                      <span class="event__area--supplement">＊&emsp;終了時間</span></br>
                      <%= f.time_field :ending_time, autocomplete: "finish_time", class: "form-control event-new" %>
                    </td>
                  </tr>
                  <tr>
                    <th class="content__profile"><span class="responsive-form-title">料金</span>
                      <p class="responsive-form">
                        <%= f.text_field :price, autocomplete: "place", class: "form-control event-new", placeholder: "1000" %>円
                      </p>
                    </th>
                    <td class="no-responsive-form">
                     <%= f.text_field :price, autocomplete: "place", class: "form-control event-new", placeholder: "1000" %>円
                    </td>
                  </tr>
                </table>
                <div class="content__field--button">
                  <%= f.submit "イベント更新！", class: "mypage-button btn btn-success"%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>