<main class="row">
  <div class="body body__mypage--edit">
    <div class="heading">
      <h3 class="heading__title--main">Event Edit ++</h3>
      <h3 class="heading__title--ja">イベント編集ページ</h3>
      
    </div>
    <div class="heading__border">
      <span class="border-title">ゲームイベントを編集しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--event">
        <div class="content__fields">
          <h2 class="content__fields--heading">My events</h2>
          <div class="event__area">
            <%= form_with model: @event, url: event_path(@event), local: true do |f| %>
              <table class="table table-borderless ">
                <tbody>
                  <tr>
                    <th scope="row">イベント写真</th>
                  </tr>
                  <tr>
                    <th scope="row">イベント名</th>
                    <td class="nomal-font font-sm"><%= f.text_field :event_name, autofocus: true, autocomplete: "event_name", class:"create-event-form" %></td>
                  </tr>
                  <tr>
                    <th scope="row">イベント日</th>
                    <td class="nomal-font font-sm"><span class="event__area--supplement">＊&emsp;日付を選択してください</span></br><%= f.date_field :event_data, autocomplete: "event_data", class:"create-event-form" %></td>
                  </tr>
                  <tr>
                    <th scope="row">開催時間〜終了時間</th>
                    <td class="nomal-font font-sm">
                      <span class="event__area--supplement">＊&emsp;時間を選択してください</span></br>
                      <%= f.time_field :starting_time, autocomplete: "start_time", class:"create-event-form--time" %>
                      &emsp;ーー&emsp;
                      <%= f.time_field :ending_time, autocomplete: "finish_time", class:"create-event-form--time" %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">料金</th>
                    <td class="nomal-font"><%= f.text_field :place, autocomplete: "place", class:"create-event-textarea", placeholder: "" %>円</td>
                  </tr>
                  <tr>
                    <th scope="row">開催予定場所</th>
                    <td class="nomal-font"><%= f.text_area :game_location, autocomplete: "game_location", class:"create-event-textarea", placeholder: "開催場所を記入" %></td>
                  </tr>
                </tbody>
              </table>
              <div class="actions"> 
                <%= f.submit "イベント更新", class: "btn btn-success" %>
              </div> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>