<main class="row">
  <div class="body body__events">
    <div class="heading">
      <h1 class="heading__title--main">Game-Czas ++</h1>
      <h3 class="heading__title--ja">ゲームイベントに参加しよう！</h3>
    </div>
    <div class="heading__border">
      <span class="border-title">Welcome to Game-Czas</span>
    </div>
    <div class="content">
      <%= render 'layouts/events_search' %>
      <div class="content__field-events">
        <div class="content__fields--event-index">
          <h2 class="content__fields--heading-index">New Events</h2>
          <div class="content__fields--flex">
            <%= render 'event-card', new_events: @new_events %>
          </div>
          <div class="col-xs-12 text-center">
            <%= paginate @new_events %>
          </div>
        </div>
        
        <div class="content__fields">
          <h2 class="content__fields--heading">Today's game event</h2>
          <div class="content__fields--flex">
          <!--今日のイベントがnilの場合の条件分岐-->
          <% if @today_events.present? %>
            <% @today_events.each do |event_today| %>
                <%= event_today.event_name %>
            <% end %>
          <% else %>
            <h3 style="color:white;">予定のイベントはありません</h3>
          <% end %>
          </div>
        </div>
      
       <%= render 'layouts/calendar', events: @request_events %>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>