<main class="row">
  <div class="body body__events">
    <div class="heading">
      <h1 class="heading__title--main">Game-Czas ++</h1>
      <h3 class="heading__title--ja">ゲームイベントに参加しよう！</h3>
    </div>
    <div class="heading__border">
      <span class="border-title">Welcome to Game-Czas</span>
    </div>
    <div class="content">
      <div class="content__field-events">
        <div class="content__fields--event-index">
          <h2 class="content__fields--heading-index">New Events</h2>
          <div class="content__fields--flex">
            <% @events.each do |event| %>
              <div class="card content__fields--flex-item-event" style="width: 18rem;">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <%= link_to user_path(event.user) do %>
                  <%= attachment_image_tag event.user, :image, format: 'jpeg' , size: "80x80"%>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= event.event_name %></h5>
                  <p class="card-text">
                    <%= event.event_data %></br>
                    <%= event.starting_time %>
                    <span>~</span>
                    <%= event.ending_time %></br>
                    <%= link_to event_path(event.id) do %>
                      <i class="far fa-comments" style="color: black;"></i>
                    <% end %>
                    <%= event.event_comments.count%>
                    <% if event.likes_by?(current_user) %>
                      <%= link_to event_like_path(event.id, event.likes), method: :delete do %>
                        <i class="fas fa-heart" style="color: red;"></i>
                      <% end %>
                      <%= event.likes.count %> 
                    <% else %>
                      <%= link_to event_likes_path(event.id), method: :post do %>
                        <i class="far fa-heart" style="color: black;"></i>
                      <% end %>
                    <% end %>
                  </p>
                  <% if event.user != current_user %>
                    <%= link_to "イベント詳細", event_path(event.id), class: "btn btn-success" %>
                  <% else %>
                    <%= link_to "イベント詳細", event_path(event.id), class: "btn btn-info" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12 text-center">
            <%= paginate @events %>
          </div>
        </div>
        
        <div class="content__fields">
          <h2 class="content__fields--heading">Today's game event</h2>
        </div>
       
        <div class="content__fields">
          <h2 class="content__fields--heading">My Calendar</h2>
          <div class="content__fields--calendar">
            <%= month_calendar do |date| %>
              <%= date.day %>
            <% end %>
          </div>
        </div>
       
      </div>
    </div>
  </div>
   <%= render 'layouts/sidebar' %>
</main>