<main class="row">
  <div class="body body__mypage--edit">
    <div class="heading">
      <% if @event.user == current_user %>
        <h3 class="heading__title--main">My Events ++</h3>
        <h3 class="heading__title--ja">イベント詳細ページ</h3>
      <% else %>
        <h3 class="heading__title--main"><%= @event.user.name %> Events ++ </h3>
        <h3 class="heading__title--ja"><%= @event.user.name %>さんのイベントページ</h3>
      <% end %>
      
    </div>
    <div class="heading__border">
      <span class="border-title">イベントを確認しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--event">
        <div class="content__fields">
          <% if @event.user == current_user %>
            <h2 class="content__fields--heading">My Event</h2>
          <% else %>
            <h2 class="content__fields--heading"><%= @event.user.name %> Event details</h2>
          <% end %>
          <div class="event__area">
            
             <div class="content__fields--flex">
              <div class="content__fields--flex-item-mypage1">
                <div class="content__image--user">
                  <%= attachment_image_tag @event.user, :image, format: 'jpeg' , size: "250x250"%>
                </div>
                <span id="event__area--likes_<%= @event.id %>">
                  <%= render partial: 'likes/like', locals: {event: @event} %>
                </span>
                <span>
                  <i class="far fa-comments" style="color: black;"></i>
                  <%= @event.event_comments.count %>
                </span>
              　<table class="table table-bordered ">
                <tr>
                  <th class="content__profile">--- イベントメモ ---</th>
                </tr>
                <tr>
                  <td><%= @event.game_location %></td>
                </tr>
              </table>
              </div>
            
            
              <div class="content__fields--flex-item-mypage2">
                 <table class="table ">
                 <h3>My Event</h3>
                 <p>イベント詳細</p>
                  
                  <tr>
                    <th class="content__profile">イベント名</th>
                    <td><%= @event.event_name %></td>
                  <tr>
                    <th class="content__profile">開催予定</th>
                    <% if @event.is_online == true %>
                      <td>オンライン開催</td>
                    <% else %>
                      <td>オフライン開催</td>
                    <% end %>
                  </tr>
                  <tr>
                    <th class="content__profile">イベント日</th>
                    <td>
                      <%= @event.event_date.to_s(:date_jp) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="content__profile">開催時間〜終了時間</th>
                    <td class="nomal-font font-sm">
                      <%= @event.starting_time.to_s(:time)  %>
                      &emsp;~ &emsp;
                      <%= @event.ending_time.to_s(:time) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="content__profile">料金</th>
                    <td><%= @event.price %>円</td>
                  </tr>
                </table>
              </div>
            </div>
            <% if @event.user != current_user %>
              <%= form_with model: @event, url: event_path(@event), local: true do |f| %>
                <% if @event.is_request == false %>
                  <%= f.hidden_field :is_request, value: true %>
                  <%= f.submit "お気に入り！", class: "btn btn-primary" %>
                <% else %>
                  <%= f.hidden_field :is_request, value: false %>
                  <%= f.submit "お気に入り済み", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            <% end %>
            
            <% if @event.user == current_user %>
              <div class="event__area--buttons">
                <%= link_to "編集", edit_event_path(@event), class: "mypage-button btn btn-info "%>
                <%= link_to "削除", event_path(@event), method: :delete, class: "mypage-button btn btn-danger"%>
              </div>
            <% end %>
            
          </div>
          <div class="event__area--border"></div>
          <div class="event__area--comments">
            <div class="heading__border--comment">
              <span class="border-title-comment">コメントはこちらから！</span>
            </div>
<!--コメント表示領域-->
            <% @event.event_comments.each do |event_comment| %>
              <li style="list-style: none;">
                <div class="comment-body bb">
                  <div class="comment-text">
                    <div class="message-box__user-left">
                      <div class="message-user">
                        <%= link_to user_path(event_comment.user) do %>
                          <%= attachment_image_tag event_comment.user, :image, format: 'jpeg' , size: "80x80", class: "message-icon-l"%></br>
                        <% end %>
                        <%= event_comment.user.name %>
                      </div>
                      <div class="message-field">
                        <p class="says-l"><%= event_comment.comment %></p>
                        <%= event_comment.created_at.strftime("%Y-%m-%d %H:%M")%>
                        <% if event_comment.user == current_user %>
                          <%= link_to  event_event_comment_path(event_comment.event, event_comment), method: :delete do %>
                            <i class="fas fa-window-close"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            <%= form_with(model:[@event, @event_comment],url:  event_event_comments_path(@event), local: true) do |f| %>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                </div>
              </div>
              <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>