<header class="login_header">
  <div class="sidebar-logo">
    <%= link_to  'javascript:history.back()' do %>
      <h2 class="header-name"><%= image_tag 'game-czas.png' , class: "game-czas-logo-header"%>Game-Czas</h2>
    <% end %>
  </div>
  <div id="sp-menu">
    <ul>
      <li>
        <%= link_to  events_path, class: "nav-item" do %>
          <i class="fas fa-home " style="color: #c3c3c3"></i>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to  messages_path, class: "nav-item" do %>
          <i class="fas fa-comment-dots " style="color: #c3c3c3"></i>
          Message
        <% end %>
      </li>
      <li>
        <%= link_to  favorite_events_path, class: "nav-item" do %>
          <i class="fas fa-calendar-alt" style="color: #c3c3c3"></i>
          Favorite Events
        <% end %>
      </li>
      <li>
        <%= link_to  new_event_path, class: "nav-item"  do%>
          <i class="fas fa-gamepad" style="color: #c3c3c3"></i>
          Event Create
        <% end %>
      </li>
      <li>
        <%= link_to  matching_path, class: "nav-item" do %>
          <i class="fas fa-user-friends" style="color: #c3c3c3"></i>
          Friend
        <% end %>
      </li>
      <li>
        <%= link_to  user_path(current_user), class: "nav-item"  do%>
          <i class="fas fa-user-cog" style="color: #c3c3c3"></i>
          My Page
        <% end %>
      </li>
      <li>
        <%= link_to  notifications_path, class: "nav-item"  do%>
          <i class="fas fa-bell" style="color: #c3c3c3"></i>
          Notification
        <% end %>
      </li>
      <li>
        <%= link_to  destroy_user_session_path, method: :delete, class: "nav-item"  do%>
          <i class="fas fa-sign-out-alt" style="color: #c3c3c3"></i>
          Sign Out
        <% end %>
      </li>
    </ul>
  </div>

  <div id="hm-icon">
    <a href="#" class="menu-trigger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</header>