<div class="content__fields">
  <% if user == current_user %>
    <h2 class="content__fields--heading">My Profile</h2>
  <% else %>
    <h2 class="content__fields--heading"><%= user.name %> Profile</h2>
  <% end %>
  <div class="content__fields--flex">
    <div class="content__fields--flex-item-mypage1-user">
      <div class="content__image--user">
        <%= attachment_image_tag user, :image, format: 'jpeg' , size: "250x250", class: "user-responsive"%>
      </div>
      
      <div class="content__field--follow">
        <p class="responsive-follow-count">follow <%= user.followings.count %>人</br>follower<%= @user.followers.count %>人</p>
        <%= render partial: 'follow_button', locals: {user: user} %>
      </div>
      
      <table class="table table-bordered ">
        <tr>
          <th class="content__profile no-responsive">--- 自己紹介 ---</th>

        </tr>
        <tr>
          <td class="user-introduction"><%= user.introduction %></td>
        </tr>
      </table>
    </div>
    <div class="content__fields--flex-item-mypage2-user">
      <table class="table">
        <h3 class="show-title">Profile</h3>
        <tr>
          <th class="content__profile">名前</br>
            <p class="show-text"><%= user.name %></p>
          </th>
        </tr>
        <tr>
          <th class="content__profile">性別</br>
            <p class="show-test">
              <% if user.sex == true %>
                女性
              <% else %>
                男性
              <% end %>
            </p>
          </th>
        </tr>
        <tr>
          <th class="content__profile">年齢</br>
            <p class="show-text"><%= user.age %></p>
          </th>
        </tr>
        <tr>
          <th class="content__profile">好きなゲーム</br>
            <p class="show-text"><%= user.favorite_game %></p>
          </th>
        </tr>
        <tr>
          <th class="content__profile">SNSリンク</br>
            <% if user.twitter.present? %>
              <%= link_to user.twitter, target: :_blank do %>
                <i class="fab fa-twitter"></i>
              <% end %>
            <% end %>
            <% if user.instagram.present? %>
              <%= link_to user.instagram, target: :_blank do %>
                <i class="fab fa-instagram"></i>
              <% end %>
            <% end %>
            <% if user.youtube.present? %>
              <%= link_to user.youtube, target: :_blank do %>
                <i class="fab fa-youtube"></i>
              <% end %>
            <% end %>
          </th>
        </tr>
      </table>
      <% if user.id == current_user.id %>
        <div class="content__field--button">
          <%= link_to "編集", edit_user_path(current_user), class: "mypage-button btn btn-info"%>
        </div>
      <% end %>
    </div>
  </div>
</div>