<!DOCTYPE html>
<html>
  <head>
    <title>GameCzas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no, maximum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <header class="logout_header"></header>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="top-footer">
      <div class="container">
        <div class="d-flex justify-content-center footer">
          <p class="mb-0 copyright">Copyright(c)  2020 Game-Czas! Co.,Ltd</p>&emsp;
        </div>
      </div>
    </footer>
  </body>
</html>
